@model IEnumerable<SnurrtumlareWebSite.Models.CustomerModel> 

@{
    ViewData["Title"] = "Customers";
}


<style>
    #Input_Style {
        margin: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary">Create Customer</button>
            <br />
            <br />
            <table style="width:100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Zip Code</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>


                <tbody>
                     @foreach (var customer in Model)
                     {
                            <tr>
                                <td>@customer.CustomerId</td>
                                <td>@customer.FirstName</td>
                                <td>@customer.LastName</td>
                                <td>@customer.Address</td>
                                <td>@customer.ZipCode</td>
                                <td>@customer.City</td>
                                <td>@customer.Email</td>
                                <td>@customer.Phone</td>
                                

                                <td>
                                    <div>
                                        <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Edit</button>
                                        <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Details</button>
                                        <button id="Input_Style" type="button" class="btn btn-danger btn-sm">Delete</button>
                                    </div>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>