@model IEnumerable<SnurrtumlareWebSite.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <table style="width:100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Customer Id</th>
                        <th>Customer Name</th>
                        <th>Customer Email</th>
                        <th>Product</th>
                        <th>Total Cost</th>
                        <th>Is Delivered</th>
                    </tr>
                </thead>

                <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Customer.CustomerId</td>
                        <td>@order.Customer.FirstName @order.Customer.LastName</td>
                        <td>@order.Customer.Email</td>
                        <td>@order.ProductsFromCart</td>  @{/*TODO: Fixa med en foreach loop*/ } 
                        <td>@order.TotalOrderCost</td>
                        <td>@order.IsDelivered</td>
                        <td>
                            <div class="form-check-inline">
                                <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Edit</button>
                                <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Details</button>
                                <button id="Input_Style" type="button" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
         </div>
    </div>
</div>