@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <table style="width:100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>Order Rows</th>
                        <th>Total Cost</th>
                        <th>Is Delivered</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.User.UserId</td>
                        <td>@order.User.FirstName @order.User.LastName</td>
                        <td>@order.OrderRows.Count</td>
                        <td>@order.TotalOrderCost</td>
                        <td>@order.IsDelivered</td>
                        <td>
                            <div class="form-check-inline">
                                <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Edit</button>
                                <button id="Input_Style" type="button" class="btn btn-secondary btn-sm">Details</button>
                                <button id="Input_Style" type="button" class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
         </div>
    </div>
</div>