@model Cart

@{
    ViewData["Title"] = "Kundvagn";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table table style="width:100%"  class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Produkt ID</th>
                            <th>Namn</th>
                            <th>Beskrivning</th>
                            <th>á Pris</th>
                            <th>Antal</th>
                            <th>Summa</th>
                            <th>Alternativ</th>
                        </tr>

                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model.ProductsInCart)
                            {
                            <tr>
                                <form asp-controller="Cart" asp-action="ChangeOfQuantity">
                                    <th>@item.ProductId</th>
                                    <th>@item.ProductName</th>
                                    <th>@item.ProductDescription</th>
                                    <th>@item.ProductPrice</th>
                                    <th>
                                        <input type="number" style="width: 50px" name="Quantity" value="@item.Quantity" />
                                        <input type="hidden" name="ProductId" value="@item.ProductId" />
                                    </th>
                                    <th>@(item.ProductPrice * item.Quantity)</th>
                                    <th>
                                        <div class="form-check-inline">
                                            <button type="submit" class="shopping-cart-checkout-button">Uppdatera</button>
                                            <input type="button" class="shopping-cart-checkout-button" asp-controller="Cart" asp-action="" value="Ta bort"/>
                                        </div>
                                    </th>
                                </form>
                            </tr>
                            
                            }
                        }
                        else
                        {
                            <tr>Inga produkter i kundvagnen</tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th hidden></th>
                            <th hidden></th>
                            <th hidden></th>
                            <th hidden></th>
                            <th hidden></th>
                            <th hidden></th>
                            <th colspan="7" style="text-align: right">
                                @foreach (var item in Model.ProductsInCart)
                                {
                                    Model.CartTotalCost += item.ProductPrice * item.Quantity;
                                }
                                <h3>Totalt: @Model.CartTotalCost</h3>
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <ul>
                    <li class="shopping-cart-button-list-item">
                        <input type="submit" class="shopping-cart-reset-button" value="Ta bort kundvagn" />
                    </li>
                    <li class="shopping-cart-button-list-item">
                        <input type="submit" class="shopping-cart-checkout-button" value="Till Kassan" />
                    </li>
                    <li class="shopping-cart-button-list-item">
                        <input type="submit" class="shopping-cart-checkout-button" value="Fortsätt handla" />
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>