@model OrderViewModel

@section Scripts{
<script src="https://code.jquery.com/jquery-latest.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
<script src="~/js/ordermessage/sendmessage.js"></script>
}

<body>
    <div class="col-12 egen" style="text-align: center">
        <h1>Ordersammanställning</h1>
        <div class="col-md-6" style="display: inline-block; float: left">
            <h5>KUNDINFORMATION</h5>
            <table style="width:100%; text-align: left; margin-bottom: 20px" class="table table-bordered">
                <thead>
                    <tr><th>Namn</th><td>@Model.User.FirstName @Model.User.LastName</td></tr>
                    <tr><th>Email</th><td>@Model.User.Email</td></tr>
                    <tr><th>Telefon</th><td>@Model.User.Phone</td></tr>
                </thead>
            </table>
        </div>
        <div class="col-md-6" style="display: inline-block; float: left">
            <h5>LEVERANSINFORMATION</h5>
            <table style="width:100%; text-align: left; margin-bottom: 20px" class="table table-bordered">
                <thead>
                    <tr><th>Adress</th><td>@Model.User.Address</td></tr>
                    <tr><th>Stad</th><td>@Model.User.City</td></tr>
                    <tr><th>Postnummer</th><td>@Model.User.ZipCode</td></tr>
                </thead>
            </table>
        </div>

        <div style="width: 100%; text-align: center; margin-bottom: 20px">
            <input type="button" class="order-confirmation-button-style" data-toggle="modal" data-target="#update-profile-modal" value="Redigera profil" />
        </div>

        <div class="col-12">
            <h5>DINA PRODUKTER</h5>
            <table style="width:100%; text-align: left" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="1">Produkt</th>
                        <th>á pris</th>
                        <th>Antal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cart.ProductsInCart)
                    {
                        <tr>
                            <th><img style="width: 30px; margin-right: 30px" src="@item.ImageLink" /> @item.ProductName</th>
                            <th>@item.ProductPrice</th>
                            <th>@item.Quantity</th>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="width: 100%; text-align: center;">
                <h4>Totalt att betala: @Model.Cart.CartTotalCost</h4>
                <form asp-controller="Cart" id="finalizeOrderForm" method="post">
                    <input type="submit" class="order-confirmation-button-style" formaction="Cart" formmethod="get" value="Tillbaka" />
                    @if (Model.User.City == null || Model.User.FirstName == null || Model.User.LastName == null || Model.User.Phone == null || Model.User.ZipCode == null || Model.User.Address == null)
                    {
                        <input type="submit" class="order-confirmation-button-style" formaction="FinalizeOrder" value="Bekräfta köp" disabled />
                    }
                    else
                    {
                        <input type="submit" class="order-confirmation-button-style" formaction="FinalizeOrder" value="Bekräfta köp" />
                    }
                </form>
            </div>
        </div>
    </div>

    <!--UPDATE PROFILE DATA MODAL-->
    <div id="update-profile-modal" class="modal fade bd-example-modal-lg" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="testModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="text-align: center">
                <div class="col-12 egen" style="text-align: center">
                    <h1>Redrigera profil</h1>
                    <div class="col-md-12" style="display: inline-block; float: left">
                        <form asp-controller="Cart" asp-action="OrderConfirmation" method="post">
                            <table style="width:100%; text-align: left; margin-bottom: 20px">
                                <thead>
                                    <tr>
                                        <th>Förnamn</th>
                                        @if (Model.User.FirstName == null)
                                        {
                                            <td>
                                                <div class="form-group">

                                                    <input type="text" placeholder="Förnamn" name="FirstName" required
                                                       pattern="^([A-ZÅÄÖ]\w*[a-zåäö]+|[A-ZÅÄÖ]\w*[a-zåäö]+\s[a-zA-ZåäöÅÄÖ]+)$"
                                                       title="Förnamn måste börja med stor bokstav" />

                                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>

                                                </div>

                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" name="FirstName" value="@Model.User.FirstName" />
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <th>Efternamn</th>
                                        @if (Model.User.LastName == null)
                                        {
                                            <td>
                                                <div class="form-group">

                                                    <input type="text" placeholder="Efternamn" name="LastName" required
                                                       pattern="^([A-ZÅÄÖ]\w*[a-zåäö]+|[A-ZÅÄÖ]\w*[a-zåäö]+\s[a-zA-ZåäöÅÄÖ]+)$"
                                                       title="Efternamn måste börja med stor bokstav" />

                                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" name="LastName" value="@Model.User.LastName" />
                                            </td>
                                        }
                                    </tr>
                                    </tr>
                                    <tr><th>Email</th><td><input width="200" type="text" name="Email" value="@Model.User.Email" disabled /></td></tr>
                                    <tr>
                                        <th>Telefon</th>
                                        @if (Model.User.Phone == null)
                                        {
                                            <td>
                                                <input type="text" placeholder="Telefon" name="Phone" required
                                                   pattern="^\d{4}\-?\s?\d{3}\-?\s?\d{3}$"
                                                   title="Telefon nr format 0707-123 456, 0707-123456, 0707-123-456, 0707 123 456" />

                                                <span asp-validation-for="User.Phone" class="text-danger"></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" name="Phone" value="@Model.User.Phone" />
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>Adress</th>
                                        @if (Model.User.Address == null)
                                        {
                                            <td>
                                                <input type="text" placeholder="Adress" name="Address" required
                                                   pattern="^(([A-ZÅÄÖ]\w*[a-zåäö]+|[A-ZÅÄÖ]\w*[a-zåäö]+\s[a-zA-ZåäöÅÄÖ]\w*[a-zåäö]+)+\s?\d{0,3})+$"
                                                   title="Adress måste börja med storbokstav och kan ha en andra del och siffror på slutet" />

                                                <span asp-validation-for="User.Address" class="text-danger"></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" name="Address" value="@Model.User.Address" />
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>Stad</th>
                                        @if (Model.User.City == null)
                                        {
                                            <td>
                                                <input type="text" placeholder="Stad" name="City" required
                                                   pattern="^([A-ZÅÄÖ]\w*[a-zåäö]+|[A-ZÅÄÖ]\w*[a-zåäö]+\s[a-zA-ZåäöÅÄÖ]+)$"
                                                   title="Stad måste börja med storbokstav och kan ha en andra del ex. Malmö Stad" />

                                                <span asp-validation-for="User.City" class="text-danger"></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" name="City" value="@Model.User.City" />
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>Postnummer</th>
                                        @if (Model.User.ZipCode == null)
                                        {
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Postnummer" name="ZipCode" required
                                                       pattern="^\d{5}$" title="Post nr format 12345" />

                                                    <span asp-validation-for="User.ZipCode" class="text-danger"></span>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="text" name="Zipcode" value="@Model.User.ZipCode" />
                                            </td>
                                        }
                                    </tr>
                                </thead>
                            </table>

                            <div width="100%" style="text-align: center">
                                <input type="button" class="order-confirmation-button-style" value="Avbryt" data-dismiss="modal" />
                                <button type="submit" class="order-confirmation-button-style" formaction="UpdateProfile" value="@Model.User.FirstName, @Model.User.LastName, @Model.User.Phone, @Model.User.Address, @Model.User.City, @Model.User.ZipCode">Spara</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('#edit-profile-button').click(function() {
        $('#update-profile-modal').modal('toggle'); });
</script>
