@model OrderViewModel

@{
    ViewData["Title"] = "ProfileView";
}

<div>
    <h1 class="pos2" style="font-size:300%;">Din profil</h1>

    <center><img src="~/assets/icons/profilpicture.png" alt="Profilgubbe" width="200" height="200" /></center>



    
    <p class="pos3"> <center>Hej <b>@Model.User.FirstName</b>, här på din profil kan du ändra dina uppgifter och se dina tidigare order.</center></p>

    <p class="pos3">
        <center>Dina uppgifter</center>
    </p>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Home" asp-action="UpdateProfile" method="post">
                <table style="width:100%; text-align: left; margin-bottom: 20px">
                    <thead>
                        <tr>
                            <th>Namn</th>
                            @if (Model.User.FirstName == null)
                            {
                                <td>
                                    <input type="text" placeholder="Förnamn" name="FirstName" value="" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="FirstName" value="@Model.User.FirstName" />
                                </td>
                            }
                            @if (Model.User.LastName == null)
                            {
                                <td>
                                    <input type="text" placeholder="Efternamn" name="LastName" value="" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="LastName" value="@Model.User.LastName" />
                                </td>
                            }
                        </tr>
                        <tr><th>Email</th><td>@Model.User.Email</td></tr>
                        <tr>
                            <th>Telefon</th>
                            @if (Model.User.Phone == null)
                            {
                                <td>
                                    <input type="text" placeholder="Telefon" name="Phone" value="" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="Phone" value="@Model.User.Phone" />
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>Adress</th>
                            @if (Model.User.Address == null)
                            {
                                <td>
                                    <input type="text" placeholder="Adress" name="Address" value="" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="Address" value="@Model.User.Address" />
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>Stad</th>
                            @if (Model.User.City == null)
                            {
                                <td>
                                    <input type="text" placeholder="Stad" name="City" value="" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="City" value="@Model.User.City" />
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>Postnummer</th>
                            @if (Model.User.ZipCode == null)
                            {
                                <td>
                                    <input type="text" placeholder="Postnummer" name="ZipCode" value="" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="text" name="Zipcode" value="@Model.User.ZipCode" />
                                </td>
                            }
                        </tr>
                    </thead>
                </table>
                <div width="100%" style="text-align: center">
                    <button type="submit" class="order-confirmation-button-style" value="@Model.User, @Model.User.FirstName, @Model.User.LastName, @Model.User.Phone, @Model.User.Address, @Model.User.City, @Model.User.ZipCode">Spara</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*<p><a asp-action="OrderView"><center>Se dina order</center></a></p>   /*Behöver av kommenteras om den ska skicka till OrderView*/*@
<br>
<br>
